* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

iframe {
  width: 100%;
}

.div-img {
  max-width: 500px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.icon {
  margin: 2rem;
}

a {
  text-decoration: none;
  color: #04a777;
}

.hidden div {
  margin: 1.5rem 0;
}

nav {
  background-color: #030027;
  height: 100px;
}

.centered {
  width: min(550px, 90%);
  margin: 2rem auto;
}

nav i {
  color: #fffcff;
  font-size: 2rem;
}

.hidden {
  display: none;
  overflow: hidden;
}

.show {
  display: block;
  overflow: auto;
  position: absolute;
  background-color: #030027;
  width: 100%;
  padding: 0 2rem;
}

.btn {
  border-radius: 10px;
  background-color: #04a777;
  width: 100px;
  border: none;
  padding: 0.5rem 5rem;
  margin-top: 1rem;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.text-centered {
  text-align: center;
}

.box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 3rem 0;
  padding: 3rem;
}

.map-container {
  display: flex;
  justify-content: center;
}

.map {
  width: 375px;
  height: 400px;
  margin: 0 auto;
}

.section-margin {
  margin: 4rem auto;
}
footer {
  background-color: #030027;
  padding: 2rem;
  color: #fffcff;
}

a:hover {
  color: #fffcff;
}

.clients-card:hover {
  background-color: #f02d3a;
}

.small-icon {
  font-size: 2rem;
  margin-right: 2rem;
}

.icon-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-margin {
  margin: 2rem;
  font-size: 2.5rem;
}

@media (min-width: 1200px) {
  .display-flex {
    display: flex;
    gap: 1.5rem;
    justify-content: space-evenly;
  }
  .centered {
    width: 90%;
    margin: 2rem auto;
  }
  .btn-hiden {
    display: none;
    overflow: hidden;
  }
  .show-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .map {
    display: flex;
    justify-content: center;
  }

  .item {
    position: relative;
  }

  .item-link::after {
    content: "";
    height: 3px;
    width: 100%;
    background: #f19a3e;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s linear;
  }

  .item-link:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1);
  }

  .rotate:hover{
    /* transform: rotate(5deg); */
    transform: scale(1.1);
  }

  .box-shadow:hover{
    background-color: #030027;
    color: #fffcff;
  }
}
